*{
    margin: 0;
    font-size: 23px;
    background-color:lightsteelblue;
    box-sizing: border-box;
}
header{
    width: 100vw;
height: auto;
border: 5px solid;
display: flex;
align-items: center;
justify-content: center;
text-align: center;

}
main{
    width: 100vw;
    height: auto;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: repeat(2,50vh);
    display: grid;
}
section{
    width: 100%;
    height: 100%;
    text-align: center;
}
footer{
    width: 100vw;
    height: 30vh;
    border: 5px solid;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h5,.p3{
text-align: center;
font-size: 30px;

}
.im1{
    width: 90%;
}
.pp3,.pp2{
    color: black;
    text-decoration: none;
    font-size: 30px;

}

.a1{
    float: right;
    margin: 0  5px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.a2{
    color: red;
     font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    float: right;
    margin: 0 5px;
}
.a3{
    color: red;
     font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    float: right;
width: 100%;
text-align: center;
}
.di1{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    margin: 70px 0;
}
.p3{
    text-align: justify;
    width: 90vw;
    align-items: center;
    justify-content: center;
}
.di2{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
    text-align: center;
}
label{
    font-size: 30px;
}
input{
    width: 90vw;
    display: flex;
    border-radius: 20px;
    border:2px solid;
    
}

fieldset{
    width: 90vw;
    height: 100vh;
    flex-wrap: wrap;
    border: 2px solid;
}
.dii{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

}
.aa{
    text-decoration: none;
    color: black;
    background-color: cornflowerblue;
}
.b1{
    border: none;
    width: 40vw;
    border-radius: 20px;
    height: 5vh;
    background-color: cornflowerblue;
}
.p2{
      text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.im2{
    width: 40%;
    border-radius:2000px ;
    margin: 20px 0;
}
.im{
    width: 20vw;
    border-radius: 1500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
 .img{
width: 15vw;
border-radius: 1000px;
    }
.di{
    width: 100vw;
}
.pp1,.hh{
    font-size: 40px;

}
.sp{
    font-size: 40px;
    font-weight: bold;
}
.m1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 20px 0;
}
.texto{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;

}
.m2{
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
textarea{
    border: 2px solid;
}
@media(max-width:678px){

}